.home-page {
  width: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.top-bar {
  background-color: #ffc629;
  text-align: center;
  height: 60px;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  margin-bottom: 40px;
}

.hamburger-container {
  width: 55px;
  height: 40px;
  position: relative;
  margin-left: 1.5rem;
}

.bar {
  width: 100%;
  max-width: 55px;
  height: 6px;
  background-color: black;
  position: absolute;
  transition: 0.3s;
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.bar:nth-child(3) {
  bottom: 0;
}

.title-container {
  margin-right: 1.5rem;
}

.title-container p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.module-one {
  width: 95%;
  height: fit-content;
  min-height: 400px;

  display: flex;
  flex-direction: row;
}

.customer-lookup-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0.5rem;
}

.customer-lookup-container h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.customer-lookup-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.customer-lookup-content-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: auto;
  background-color: rgba(1, 50, 1, 0.4);
  margin: auto;
}

.customer-lookup-footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 50px;
  padding: 1rem;
}

.previous-game-stats-container {
  background-color: rebeccapurple;
  width: 70%;
  height: auto;
}
